<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseQuality.Properties.Settings.MainConnectionString"
            connectionString="server=212.111.198.45;user id=tester_base;password=14OdBqqrVz;persistsecurityinfo=True;database=tester_test_db;characterset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
